h1{
    text-align: center;
    color: #006600}

h2{
    color: #0000FF;}

#a{
    text-align: center;
    color: #ff3399;
    background-color: #FECFFD;  }

div{
    text-align: center;
    background-color: #FFFFCC;}

hr{
    width: 20%;}

p{
    color: #0000FF}

#b{ color: #FF3399;}

#c{
    color: #006600;}


